body {
  background-color: #EAF6F6;
}

hr {
  border-style: none;
  height: 2px;
  border-top-style: dashed;
  border-top-color: grey;
}

img {
  height: 200px;
}

h1 {
  color: #66BFBF;
}

h2 {
  color: #66BFBF;
}

h3 {
  color: #66BFBF;
}

a {
  color: grey;
}

a {
  color: red;
}
